*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100vh;
}

.product-left, .product-right{
    width: 50%;
    padding: 1em 3em; 
}

.product-left img{
    width: 80%;
    display: block;
}

.product-right{
    color: rgb(255, 255, 255);
    text-align: center;
}

.product-right h2{
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 1.2;
    max-width: 500px;
    margin: 2rem auto 1rem auto;
}

#product-sec-1{
    background-color: #000;
}

.btn-group{
    margin-top: 1.3rem;
}

.btn-solid{
    background-color: #0071e3;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1.2rem;
    border-radius: 1.3rem;
    font-size: 1.1rem;
}

.btn-link{
    text-decoration: none;
    margin-left: 10px;
    color: #0071e3;
}